.tile {
    position:relative;
    display:inline-block;
	border-radius: 5px;
	border: solid 1px #999999;
	background: linear-gradient(top, white, #EEEEEE);
	background: -webkit-linear-gradient(top, white, #EEEEEE);
    background: -moz-linear-gradient(top, white, #EEEEEE);
    background: -ms-linear-gradient(top, white, #EEEEEE);
    background: -o-linear-gradient(top, white, #EEEEEE);
    margin: 30px;
    width:25%;
    cursor:pointer;
}
.back {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align:left;
    cursor: pointer;
}
.tile > h2 {
    text-align: center;
    padding-bottom: 10px;
}
.tile > h3 {
    text-align: center;
    padding-bottom: 5px;
}
.tile > h4 {
    text-align: center;
    padding-bottom: 3px;
}
.active{
    float:left;
    background-color: rgba(255,255,255,.1);
    border: solid 5px #999999;
    cursor:default;
}