.tile {
    position:relative;
    display:inline-block;
	border-radius: 5px;
	border: solid 1px #999999;
	background: linear-gradient(top, white, #EEEEEE);
	background: -webkit-linear-gradient(top, white, #EEEEEE);
    background: -moz-linear-gradient(top, white, #EEEEEE);
    background: -ms-linear-gradient(top, white, #EEEEEE);
    background: -o-linear-gradient(top, white, #EEEEEE);
    margin: 30px;
    width:25%;
    cursor:pointer;
}
.tile:not(.active){
    line-height:2;
}
.back {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align:left;
    cursor: pointer;
}
.tile > h2 {
    text-align: center;
    padding-bottom: 10px;
}
.tile > h3 {
    text-align: center;
    padding-bottom: 5px;
}
.tile > h4 {
    text-align: center;
    padding-bottom: 3px;
}
.graph-wrapper{
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
}
#placeholder{
    margin: 0 auto;
    z-index: 1001;
}
.active{
    float:left;
    background-color: rgba(255,255,255,.1);
    border: solid 5px #999999;
    cursor:default;
    height:auto;
    overflow: scroll;
}
.active:after{
    content: "."; display: block; height: 0; clear: both; visibility: hidden;
}