.tiles div:not(.loading) {
	border-radius: 5px;
	border: solid 1px #999999;
	background: linear-gradient(top, white, #EEEEEE);
	background: -webkit-linear-gradient(top, white, #EEEEEE);
    background: -moz-linear-gradient(top, white, #EEEEEE);
    background: -ms-linear-gradient(top, white, #EEEEEE);
    background: -o-linear-gradient(top, white, #EEEEEE);
    padding: 4px;
    margin: 5px;
    display:inline-block;
    min-width:20%;
    text-align:center;
    cursor:pointer;
}

.tiles li:not(.loading){
    list-style:none;
};